{{define "footer"}}
    <footer>
    Powered by <a href='https://golang.org/'>Go, </a><a href='https://cloud.google.com/'>Google Cloud Platform, </a>and <a href='https://github.com/features/actions'>Github Actions</a>
    </footer>
{{end}}
